
/* Your CSS Code here. */
body{
	display:flex;
	justify-content:center;
	border: none;
	align-items:center;
	background-color: #f4f4f4;
	height: 100vh;
	margin:0;
}
form{
	background-color: #fff;
	border-radius:10px;
	padding: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.form-group{
	margin-bottom: 20px;
}